.borderPaneBackground {
    -fx-background-color: #323437;
    -fx-border-color: #e2b714;
    -fx-border-width: 6px;
}

.title {
    -fx-fill : #e0b414;    
}

.text-to-do {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #646669;
}

.text-done {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #d1d0c5;
}

.text-error {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #ca4754;
}

.text-skipped {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #64666940;
}

.text-life {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #3e7cc4;
}

.text-attack {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #9b3e00;
}

.stats {
    -fx-font-size: 25px;
    -fx-fill : #e2b714;
}


.space-error {
    -fx-font-size: 25px;
    -fx-font-family: "Arial";
    -fx-fill: #ca4754;
    -fx-underline: true;
}

.separator {
    -fx-background-color:  #6b6b6b;
    -fx-pref-height: 1;
}

.textListeJoueur{
    -fx-font-size: 25px;
}