
.borderPaneBackground {
    -fx-background-color: #323437;
    -fx-border-color: #e2b714;
    -fx-border-width: 6px;
}

.buttonRetour {
    -fx-background-color: none;
    -fx-text-fill: #e2b714;
    -fx-font-size: 35;
}

.buttonRetour:hover {
    -fx-background-color: #ffffffc4;
    -fx-text-fill: #e2b714;
}

.congratText{
    -fx-fill: #e2b714;
    -fx-font-size: 25;

}

.chart {
    -fx-padding: -5px;
}

.chart-title {
    -fx-text-fill: #ddc49ef9;
    -fx-font-size: 2em;
    -fx-underline: true;
  }

.axis {
    -fx-font-size: 1.5em;    
    -fx-tick-label-fill: #e2b714;
    -fx-font-family: Tahoma;
    -fx-tick-length: 10;
}

.default-color0.chart-area-symbol { -fx-background-color: #e2b714, #e2b714; }

.default-color0.chart-series-area-line { -fx-stroke: #4472C4; }

.default-color0.chart-series-area-fill { -fx-fill: #4473c410}

.axis-label {
    -fx-text-fill: #e2b714;
 }

 .chart-content {
    -fx-padding: 30px;
}

.chart-plot-background {
    -fx-background-color: #41454c;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #323437;
}